.flex-container {
    display: flex;
    justify-content: space-between;
    padding: 30px;
}

.flex-element {
    display: flex;
    /*
    justify-content: space-between;
    */
    padding-right: 15px;
    padding-left: 15px;
}

.flex-column {
    flex-direction: column;
}

.flex-row {
    flex-direction: row;
}

.flex-image {
    display: flex;
    border: none;
}

.info-boks {
    display: flex;
    border: none;
    margin-bottom: 30px;
}

.spalte-boks {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
    border: none;
    border-radius: 3px;
}

.flex-image img {
    /*
    max-width: 300px;
    */
}

.illustration {
    /*    margin-top: 20px;
        margin-right: 50px;*/
}