.flex-container {
    display: flex;
    border: 5px solid black;
    justify-content: space-between;

    padding: 4px;
}

.flex-fotos {
    display: flex;
    padding: 0px 0px 0px 0px;
    border: 5px solid grey;
    gap: 2rem;
    margin: 0px;
    justify-content: space-evenly;
}

.info-boks {
    display: flex;
    flex-direction: column;
    padding: 10px;
    max-width: 700px;
}

.spalte-boks {
    display: flex;
    justify-content: space-between;
    gap: 3rem;
}

.flex-fotos img {
    max-width: 300px;
}

.flex-element {
<!-- border: 3px solid blue; -->
    flex-direction: column;
    flex-wrap: wrap;
}