.links-internal {
    background-color: #2BAA74;
    color: white;
    height: 25%;
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
    min-width: 40%;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration-line: none;

}

.links-internal:hover {
    cursor: pointer;
    opacity: 0.5;
    text-decoration-line: underline;
}

#link-return {
    height: 100%;
    width: 250px;
    max-width: 100%;
    min-width: 10%;
    border-radius: 0;
    padding-top: 30px;
    padding-bottom: 30px;
}

.external-link {
    text-decoration: none;
    color: black;
}

.ikon-link {
    display: flex;
    border: 3px solid purple;
    padding: 10px;
    width: 100%;
}

.icon {
    height: 100px;
    width: 100px;
    max-width: 100%;
    margin-right: 35px;
}

.ikon-link:hover .article-info {
    opacity: 1;
    margin-left: 8px;
}