.links-internal {
    background-color: #2BAA74;
/*    background-color: red;*/
    color: white;
    height: 25%;
/*    width: 150px;*/
    align-items: center;
    opacity: 1;
    transition: opacity 0.2s;
    min-width: 40%;
    border-radius: 3px;
    font-size: 16px;
    letter-spacing: .5px;
    line-height: 16px;
    font-weight: 600;
    text-transform: uppercase;
    padding-top: 20px;
    padding-bottom: 20px;
    text-align: center;
    text-decoration-line: none;

}

.links-internal:hover {
    cursor: pointer;
    opacity: 0.5;
    text-decoration-line: underline;
}

#return {
    height: 80px;
    width: 150px;
}