.main-heading {
    font-size: 65px;
    font-family: cambria, serif;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tekst-body {
    font-family: arial, serif;
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}

.tekst-spalte {

}

.tekst-spalte p {
    font-size: 24px;
    font-family: airal, serif;
    background-color: rgba(220, 220, 220, 0.6);
    border: 2px solid grey;
    padding: 15px;
}

