.main-heading {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tekst-body {
    font-family: Roboto Light, serif, bold;
    font-size: 24px;
}

.tekst-spalte {
    font-size: 24px;
    background-color: lightgrey;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;

}

.sideinfo {
    justify-content: center;
    margin-bottom: 25px;

}

.article-title {
    align-content: flex-start;
    padding-bottom: 6px;
    font-size: 30px;
    font-family: arial, serif;
}

.article-info {
    opacity: 0;
    transition: opacity 0.5s;
    margin-left: 8px;
}
