.main-heading {
    font-size: 65px;
    margin-top: 10px;
    margin-bottom: 30px;
}

.tekst-body {
    font-family: Roboto Light, serif, bold;
    font-size: 24px;
}

.tekst-spalte {
    font-size: 24px;
    background-color: lightgrey;
    border: 2px solid grey;
    padding: 15px;
    border-radius: 5px;
    margin: 10px;

}

.sideinfo {
    justify-content: center;

    margin-bottom: 25px;

}

.footer  {
    margin-bottom: 25px;
}

.velkomst-tekst {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 35px;
    background-color: beige;
}
