<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Mad Spild! for Virksomheder</title>
    <link rel="stylesheet" href="/css/flexbox.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/header&footer.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/links.css">
</head>

<body>
<div class="flex-container header" id="div-with-bg">
    <h1 class="header-text">
        Info til Virksomheder
    </h1>
</div>

<div class="flex-container velkomst-tekst">
    <p>
        Velkomst tekst for privat/virksomhed side med links og hvordan siden bruges.
    </p>
    <a href="/" class="links-internal" id="link-return">
        Tilbage til index ❯
        <!--<img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="img-tilbage"/>-->
    </a>
</div>

<a href="https://www.foedevarestyrelsen.dk/Foedevarer/madspild/Sider/Saadan-kan-virksomheden-undgaa-madspild.aspx"
   target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonGenericFood1.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan kan virksomheden undgå madspild.
            </p>
            <p class="article-info">
                Som virksomhed, der gerne vil undgå et stort madspild, skal man altid sikre sig, at fødevarerne er i orden, så de ikke gør forbrugerne syge.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-kan-virksomheden-undgaa-madspild.aspx"
   target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonGenericFood2.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan kan virksomheden undgå madspild, fx ved donation.
            </p>
            <p class="article-info">
                Virksomheden skal altid sikre sig, at fødevarerne er i orden, så de ikke gør forbrugerne syge. I mange tilfælde må virksomheden kassere varer.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Hakket_Koed_til_detail.aspx" target="_blank"
   class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonGenericFood1.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Levering af hakket kød fra detailbutik til andre detailbutikker - hvornår må virksomheden levere til
                andre?
            </p>
            <p class="article-info">
                Når du fremstiller hakket kød, er der mulighed for at levere til andre detailbutikker. Find ud af her, hvornår en detailbutik må levere hakket kød til andre detailbutikker.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Faa-styr-p%C3%A5-frugt-og-groent-i-din-egenkontrol.aspx"
   target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonGenericFood2.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Få styr på frugt og grønt i din egenkontrol.
            </p>
            <p class="article-info">
                Det er virksomhedens ansvar at sikre, at virksomhedens frugt og grønt ikke gør forbrugerne syge. Der er derfor en stribe fokuspunkter, som virksomheden bør have styr på i sin egenkontrol.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-undgaar-du-madspild-p%C3%A5-festivaller.aspx"
   target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonGenericFood1.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan undgår du madspild fra festivaler.
            </p>
            <p class="article-info">
                Frivillige, velgørende organisationer kan indsamle og uddele ubrugt mad fra festivaler og andre lejlighedsvise arrangementer.
            </p>
        </article>
    </div>
</a>
</body>
</html>