<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Mad Spild!</title>
</head>
<body>
<p class = "intro">
    Velkommen til StopMadSpild.dk
</p>
<p class = "info">
    Info om madspild
</p>
<!--<a href="https://www.kk.dk/affald">
    <img alt="Trashcan" src="https://cdn2.iconfinder.com/data/icons/round-interface-1/220/85-512.png"
         width="50" height="50">
</a>-->
<form method="post" action="/individuals">
    <button class ="individuals-button" >
        Individuals
    </button>
</form>
    <form method="post" action="/corporations">
        <button class ="corporations-button" >
            Corporations
        </button>
</form>
</body>
</html>