<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Danmark mod Madspild</title>
    <link rel="stylesheet" href="/css/flexbox.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/header&footer.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/links.css">

</head>
<body>
<div class="flex-container header" id="div-with-bg">
    <h1 class="header-text">
        Danmark mod Madspild
    </h1>
</div>

<div class="body-padding">
    <div class="flex-container flex-row">
        <div class="flex-container flex-column">
            <article class="flex-container">
                <p class=" tekst-body">
                    Hver dag bliver der smidt næsten 2.000 tons fødevarer ud i Danmark. Men nu går indsatsen mod
                    madspild
                    ind i en ny fase Organisationen - <b>Danmark mod Madspild</b> – en række af Danmarks førende
                    virksomheder samt
                    organisationen <b>Stop Spild Af Mad</b> og <b>FødevareBanken</b> samler med et unikt partnerskab
                    danske
                    virksomheder
                    og forbrugere i kampen mod madspild. For at opnå vores mål om at nedsænke madspild ønsker vi at
                    kunne
                    gøre det nemmere for virksomheder, såvel private husholdninger at tilgå information om hvordan
                    madspild
                    kan undgås.
                </p>
            </article>

            <article class="flex-container flex-row">
                <p class=" tekst-spalte">
                    Madspildet i den danske servicesektor udgør 227.000-ton pr. år. Til sammenligning er det samlede
                    madspild fra husholdningerne 261.000-ton pr. år.
                </p>
                <p class=" tekst-spalte">
                    Det største madspild i servicesektoren stammer fra detailhandelen, der spilder 163.000 tons pr. år,
                    svarende til 72 % af servicesektorens madspild.
                </p>
            </article>

            <article class="flex-container ">
                <p class=" tekst-spalte">
                    Af detailhandelens madspild står specialforretninger som slagtere, fiskeforretninger og
                    grønthandlere
                    for 12.000 tons pr. år, mens ikke-specialiserede forretninger som kiosker, købmænd, supermarkeder og
                    varehuse står for 151.000-ton pr. år.
                </p>
            </article>

        </div>

        <div class="flex-container flex-column">
            <figure class="flex-container flex-row">
                <img class="image" src="/images/Kornprodukter.png" alt="Korn spild illustration">
                <img class="image" src="/images/Mejeriprodukter.png" alt="Mejeri spild illustration">
            </figure>
            <figure class="flex-container flex-row">
                <img class="image" src="/images/Kød.png" alt="Kød spild illustration">
                <img class="image" src="/images/Rodfrugter.png" alt="Rod spild illustration">
            </figure>
        </div>

    </div>

    <div class="flex-container sideinfo">
        <p class="tekst-body ">
            Vi er <b>Danmark mod Madspild</b> og ønsker at bekæmpe madspild. Denne webside har til formål at hjælpe
            vores
            mission,
            ved at gøre dig bedre beklædt med hvordan du undgår madspild. Ikke bare virksomheder, men såvel også privat
            forbrugere. Forbrugerne står for klart det største madspild i Danmark. Samtidig er de private husholdninger
            den
            sektor, som står for den største andel af det samlede danske madspild på ca. 715.000 ton årligt - nemlig 36%
            (260.000 ton). På andenpladsen ligger detailhandelen med 23% (163.000 ton).
            <br><br>
            For at tilgå den samlede information omkring madspild der tilegner dig, tryk på enten <b>Privat</b> eller
            <b>Erhverv</b>:
        </p>
    </div>


    <div class="flex-container footer">
        <a class="links-internal" href="/individuals">
            Individuals ❯
        </a>

        <a class="links-internal" href="/corporations">
            Corporations ❯
        </a>
    </div>
</div>

</body>
</html>