<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Mad Spild! for Enkeltpersoner</title>
    <link rel="stylesheet" href="/css/flexbox.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/header&footer.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/links.css">
</head>
<body>
<div class="flex-container header" id="div-with-bg">
    <h1 class="header-text">
        Info til Privatpersoner
    </h1>
</div>

<div class="flex-container velkomst-tekst">
    <p>
        Velkomst tekst for privat/virksomhed side med links og hvordan siden bruges.
    </p>
    <a href="/" class="links-internal" id="link-return">
        Tilbage til index ❯
        <!--<img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="img-tilbage"/>-->
    </a>
</div>

<a href="https://www.foedevarestyrelsen.dk/Foedevarer/madspild/Sider/Skraldning.aspx" target="_blank"
   class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonDumpster.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Hvordan skralder jeg?
            </p>
            <p class="article-info">
                Det er ”skraldning”, når private indsamler og spiser madaffald fra affaldscontainere.
            </p>
        </article>
    </div>
</a>
<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-tjekker-du-om-din-mad-er-fordaervet.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonOverSalesDate.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Hvornår er din mad fordærvet?
            </p>
            <p class="article-info">
                Mad mærket med ”Sidste anvendelsesdato” skal altid smides ud efter denne dato. Mad mærket med ”Bedst før” kan derimod godt spises efter denne dato. Her skal du dog bruge dine sanser til at afgøre det.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Foedevarer/madspild/Sider/Opbevar-maden-korrekt.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonRefrigerator.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Opbevar maden korrekt
            </p>
            <p class="article-info">
                Det er forskelligt hvor din fødevare holder sig bedst; om det er i køleskabet, i køkkenskabet, på køkkenbordet eller tørt, mørkt og køligt.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/N%C3%A5r-du-vil-tage-f%C3%B8devarer-med-ud-p%C3%A5-rejse-.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonTravel.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Når du vil tage mad med ud på rejsen
            </p>
            <p class="article-info">
                Når du som privatperson vil tage fødevarer med på rejse, skal du altid tjekke det pågældende lands regler, inden du tager af sted.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saa-laenge-kan-din-mad-holde-sig.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonLengthOfFood.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Så længe kan din mad holde sig
            </p>
            <p class="article-info">
                Her finder du en vejledende oversigt over, hvor længe dine fødevarer holder sig efter åbning ved korrekt opbevaring i køleskabet og fryseren.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-undgaar-du-at-blive-syg-af-grillmad.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonGrill.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan undgår du at blive syg af grillmad
            </p>
            <p class="article-info">
                Det er hyggeligt at grille, men der er god grund til at være forsigtig med hygiejnen, så du ikke bliver syg af den lækre grillmad. I denne guide kan du få gode råd, når du laver mad på havegrillen.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-undgaar-du-at-blive-syg-af-maden-fra-picnickurven.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonPicnic.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan undgår du at blive syg af maden fra picnickurven
            </p>
            <p class="article-info">
                Sommervarmen inviterer til, at man pakker en madkurv og tager på picnic i skoven eller på stranden. De høje temperaturer gør det dog svært at holde maden kold og frisk.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/God-k%C3%B8kkenhygiejne-i-private-hjem---K%C3%B8l-maden-af.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonHouse.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Gode køkkenvaner i private hjem - Køl maden hurtigt ned
            </p>
            <p class="article-info">
                Det er vigtigt med en god hygiejne i køkkenet, så du og dine bofæller og gæster ikke bliver syg af maden. Opbevar madvarer koldt og køl den varme mad hurtigt ned, hvis maden skal gemmes til senere brug.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Naar-du-koeber-madvarer-efter-mindst-holdbar-til-bedst-foer-hvor-ligger-ansvaret.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonFirm.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Når du køber madvarer efter ”bedst før” – hvor ligger ansvaret?
            </p>
            <p class="article-info">
                Det er detailhandlens ansvar at markedsføre udløbne fødevarer, så det er tydeligt for dig som forbruger, at det, du køber, er udløbne varer.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-haandterer-du-aeg-i-hjemmet.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonEgg.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan håndterer du æg i hjemmet
            </p>
            <p class="article-info">
                Risikoen for at blive syg af salmonella fra danske æg er meget lille. Hvis du er i tvivl om, hvor sikkert det er at bruge rå æg, og hvornår du bør bruge pasteuriserede æg, kan du finde svarene her.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-holder-du-en-god-hygiejne-naar-du-presser-aeblemost.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonAppleJuice.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan holder du en god hygiejne, når du presser æblemost
            </p>
            <p class="article-info">
                Før du går i gang med frugtpresseren, er det en god ide at sætte dig ind i Fødevarestyrelsens råd om hygiejne, så æblemosten bliver ren og frisk.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-kender-du-forskel-paa-datomaerkninger-paa-mad.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonOverSalesDate.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan kender du forskel på datomærkninger på mad
            </p>
            <p class="article-info">
                En fødevare skal mærkes med enten ”sidste anvendelsesdato” eller ”bedst før”. Der er forskel på de to datomærkninger!
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-goer-du-naar-du-fermenterer-groentsager.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonFermentVegetable.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan gør du: Fermentering af grøntsager
            </p>
            <p class="article-info">
                Når du fermenterer, skal du være særlig opmærksom på, at grøntsagerne bliver syrnet tilstrækkeligt.
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-boer-du-behandle-frosne-baer.aspx" target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonBerry.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Sådan bør du behandle frosne bær
            </p>
            <p class="article-info">
                For at undgå smitte med virus som leverbetændelse eller norovirus bør du koge frosne bær.
            </p>
        </article>
    </div>
</a>
</body>
</html>