<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stop Mad Spild! for Enkeltpersoner</title>
    <link rel="stylesheet" href="/css/flexbox.css">
    <link rel="stylesheet" href="/css/text.css">
    <link rel="stylesheet" href="/css/header.css">
    <link rel="stylesheet" href="/css/body.css">
    <link rel="stylesheet" href="/css/links.css">
</head>
<body>
<div class="flex-container header" id="div-with-bg">
    <h1 class="header-text">
        Info til Privatpersoner
    </h1>
</div>

<div class="flex-container velkomst-tekst">
    <p>
        Velkomst tekst for privat/virksomhed side med links og hvordan siden bruges.
    </p>
    <a href="/" class="links-internal" id="return">
        Tilbage til index ❯
        <!--<img src="https://cdn-icons-png.flaticon.com/512/60/60577.png" alt="img-tilbage"/>-->
    </a>
</div>

<a href="https://www.foedevarestyrelsen.dk/Foedevarer/madspild/Sider/Skraldning.aspx" target="_blank"
   class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonDumpster.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Hvordan skralder jeg?
            </p>
            <p class="article-info">
                Kort info omkring linket artikel...
            </p>
        </article>
    </div>
</a>

<a href="https://www.foedevarestyrelsen.dk/Selvbetjening/Guides/Sider/Saadan-tjekker-du-om-din-mad-er-fordaervet.aspx"
   target="_blank" class="external-link">
    <div class="ikon-link">
        <img src="/images/ikoner/IkonOverSalesDate.png" class="icon" alt="image"/>
        <article>
            <p class="article-title">
                Hvornår er din mad fordærvet?
            </p>
            <p class="article-info">
                Kort info omkring linket artikel...
            </p>
        </article>
    </div>
</a>
</body>
</html>